<div class="container">
  <div class="row">
    <div class="register-form col-12">
      <legend>Register New Dragon</legend>
        <div *ngIf="showSuccessAlert" class="alert alert-success" role="alert">
          Dragon successfully registered!
        </div>
        <div *ngIf="error" class="alert alert-danger" role="alert">
          <p>Unable to register Dragon!</p>
          <p>{{ error }}</p>
        </div>
        <form (ngSubmit)="registerHandler(registerForm)" #registerForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input 
              type="text"
              class="form-control"
              name="name"
              ngModel
              required
              #name="ngModel">
            <span
              class="invalid-feedback"
              *ngIf="!name.valid && name.touched">Please enter a dragon name.</span>
          </div>
          <div class="form-group">
            <label for="dragonType">Type</label>
            <input
              type="text"
              class="form-control"
              name="dragonType"
              ngModel
              required
              #dragonType="ngModel">
              <span
              class="invalid-feedback"
              *ngIf="!dragonType.valid && dragonType.touched">Please enter a dragon type.</span>
          </div>
          <button 
          type="submit"
          class="btn btn-primary"
          [disabled]="!registerForm.valid">Register</button>
        </form>
    </div>
  </div>
</div>