<div class="container">
  <div class="row">
    <!-- spinner -->
    <div class="col-12" *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>

    <!-- navigate back link -->
    <a routerLink="/dragon-list" class="back-link col-12 mb-4"><i class="icon fa fa-chevron-left"></i>Dragons List</a>

    <!-- alert messages -->
    <div *ngIf="error" class="alert alert-danger col-12" role="alert">
      <a class="close ml-1" (click)="reset('error')">&times;</a>
      <span>{{ error }}</span>
    </div>
    <div *ngIf="success" class="alert alert-dismissible alert-success col-12" role="alert">
      <a class="close ml-1" (click)="reset('success')">&times;</a>
      <span>{{ success }}</span>
      <a class="ml-1" routerLink="/dragon-list">Go to dragon list.</a>
    </div>

    <!-- details form -->
    <div class="col-12 col-sm-8 col-lg-6 mx-auto">
      <div class="col-12 p-0">
        <h4>Dragon Details</h4>
        <a [routerLink]="['edit']" class="ml-2"><span class="mr-2 ml-2 fa fa-edit action-icon align-text-top"></span></a>
        <a (click)="deleteDragon(dragonDetail.id)" class="delete-dragon"><span class="ml-2 fa fa-trash action-icon align-baseline"></span></a>
      </div>
      <form *ngIf="dragonDetail">
        <fieldset>
          <div class="form-group row">
            <label for="creation-date" class="col-6 col-sm-4 col-form-label pl-0">Creation date: </label>
            <div class="col-6 col-sm-8 form-info">
              <span>{{ dragonDetail.createdAt | date }}</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="dragon-name" class="col-6 col-sm-4 col-form-label pl-0">Name: </label>
            <div class="col-6 col-sm-8 form-info">
              <span>{{ dragonDetail.name }}</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="dragon-type" class="col-6 col-sm-4 col-form-label pl-0">Type: </label>
            <div class="col-6 col-sm-8 form-info">
              <span>{{ dragonDetail.type }}</span>
            </div>
          </div>
        </fieldset>
      </form>
    </div>

  </div>
</div>