<div class="container">
  <div class="row">
    <!-- spinner -->
    <div class="text-center col-12" *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>

    <!-- container for login form -->
    <div class="login-form col-12 col-sm-8 col-lg-6 mx-auto" *ngIf="!isLoading">
      <h4>Login</h4>

      <!-- alert messages -->
      <app-alert-messages
        *ngIf="alert"
        [message]="alert"
        [isError]="true"
        (close)="resetAlert()">
      </app-alert-messages>

      <!-- login form -->
      <form (ngSubmit)="loginHandler(loginForm)" #loginForm="ngForm">
        <div class="form-group">
          <label for="username">Username</label>
          <input 
            type="text"
            class="form-control"
            name="username"
            ngModel
            required
            #username="ngModel">
          <span
            class="invalid-feedback"
            *ngIf="!username.valid && username.touched">Please enter your username.</span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            ngModel
            required
            #password="ngModel">
            <span
            class="invalid-feedback"
            *ngIf="!password.valid && password.touched">Please enter your password.</span>
        </div>
        <button 
        type="submit"
        class="btn btn-primary"
        [disabled]="!loginForm.valid">Login</button>
      </form>
    </div>
  </div>
</div>