<div class="container">
  <div class="row">

    <!-- spinner -->
    <div class="col-12" *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>

    <!-- navigate back link -->
    <a routerLink="/dragon-list" class="back-link col-12 mb-4"><i class="icon fa fa-chevron-left"></i>Dragons List</a>

    <!-- container for details form -->
    <div class="edit-form col-12 col-sm-8 col-md-6 mx-auto">
      <h4>Edit Dragon</h4>

      <!-- alert messages -->
      <div *ngIf="error" class="alert alert-danger col-12" role="alert">
        <a class="close ml-1" (click)="reset('error')">&times;</a>
        <span class="ml-1">{{ error }}</span>
      </div>
      <div *ngIf="success" class="alert alert-success col-12" role="alert">
        <span>{{ success }}</span>
      </div>

      <!-- details form --> 
      <form *ngIf="selectedDragon" (ngSubmit)="editHandler(editForm)" #editForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input 
            type="text"
            class="form-control"
            name="name"
            ngModel
            [ngModel]="selectedDragon.name"
            #name="ngModel">
        </div>
        <div class="form-group">
          <label for="dragonType">Type</label>
          <input
            type="text"
            class="form-control"
            name="dragonType"
            ngModel
            [ngModel]="selectedDragon.type"
            #dragonType="ngModel">
        </div>
        <span
          class="invalid-feedback mb-4"
          *ngIf="isNotEdited">Please edit at least one field.
        </span>
        <button 
        type="submit"
        class="btn btn-primary"
        [disabled]="!editForm.valid || !editForm.dirty">Save</button>
        <button type="button" (click)="resetForm(editForm)" class="btn btn-secondary ml-3">Cancel</button>
      </form>
    </div>

  </div>
</div>
        