<div class="col-sm-8 dragon-list">
  <div *ngIf="error" class="alert alert-danger" role="alert">
    <a class="close ml-1" (click)="reset('error')">&times;</a>
    <span>{{ error }}</span>
  </div>
  <div *ngIf="success" class="alert alert-success" role="alert">
    <a class="close ml-1" (click)="reset('success')">&times;</a>
    <span>{{ success }}</span>
  </div>
  <div class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center"
        *ngFor="let dragon of dragonList"
    >
      <a [routerLink]="['/dragon-list', dragon.id]"> {{ dragon.name }} </a>
      <a (click)="deleteDragon(dragon.id)" class="delete-dragon"><span class="fa fa-trash"></span></a>
    </li>
  </div>
</div>